<p id="notice"><%= notice %></p>

<h1>Animals</h1>
<div data-controller='animal' data-action='scroll@window->animal#scroll'>
  <div data-target='entries'>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "list_animal", collection: @animals %>
      </tbody>
    </table>
  </div>
  <br>
  <%= link_to 'New Animal', new_animal_path %>
  <div data-target='anmimal.pagination'>
    <%= paginate @animals %>
  </div>
</div>
